@tailwind base;
@tailwind components;
@tailwind utilities;

@import "caroussel.css";
@import "card.css";
@import "cart.css";

* {
    font-family: 'Hanken Grotesk', sans-serif !important;
}

.star-icon {
    fill: #facc15 !important;
    stroke: none !important;
}

button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}